<div class="narrow-margin" id="article-edit">
	<h5 class="page_title yellow-text center">Editting Article</h5>

	<%= render 'form' %>

	<div class="center">	
		<%= link_to 'Show ', @article, class: "yellow-text text-lighten-3" %> | 
		<%= link_to ' Back', articles_path, class: "yellow-text text-lighten-3" %>
	</div>
</div>