<div class="narrow-margin center" id="article-index">
	<div id="my-articles">
		<h5 class="page_title yellow-text">ARTICLES I'VE WRITTEN</h5>
		<div class="row" id="article">
			<% @articles.each do |article| %>
					<h5 class="sub-title"><%= link_to article.title, article, class: "title" %></h5>
					<p class="date"><em><%= article.created_at.strftime('%A: %B %d, %Y') %></em></p>
					<hr>
			<% end %>
		</div>
	</div>

	<div class="yellow_btn center">	
		<% if user_signed_in? %>
			<%= link_to 'New Article', new_article_path, class: "waves-effect yellow btn" %>
		<% end %>
	</div>

	<%= will_paginate @articles, class: "pagination center" %>
</div>