<div class="narrow-margin" id="article-new">
	<h5 class="page_title yellow-text center">New Article</h5>
	<%= render 'form' %>

	<div class="center">
		<%= link_to 'Back', articles_path, class: "yellow-text text-lighten-3" %>
	</div>
</div>