<div class="welcome">
	<div class="row white-text">
		<div class="col s12 m12 l5" id="about-me">
			<h5 class="yellow-text">ABOUT ME</h5><br><hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit excepturi atque dolorem nostrum aperiam consectetur minima, sequi dolor fugit omnis ad est mollitia facilis, aliquid voluptas harum. Alias, sapiente.</p>
		</div>
		
		<div class="col s12 m12 l3" id="my-articles">
			<h5 class="yellow-text">ARTICLES I'VE WRITTEN</h5><hr>
			<div class="article1">
				<p>
					<h6 class="yellow-text text-lighten-3">
					ARTICLE 1
				</h6>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit excepturi atque dolorem nostrum aperiam consectetur minima, sequi dolor fugit omnis ad est mollitia facilis, aliquid voluptas harum. Alias, sapiente.
				</p>
			</div>
			<br>
			<div class="article2">
				<p>
					<h6 class="yellow-text text-lighten-3">
					ARTICLE 2
				</h6>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit excepturi atque dolorem nostrum aperiam consectetur minima, sequi dolor fugit omnis ad est mollitia facilis, aliquid voluptas harum. Alias, sapiente.
				</p>
			</div>
			<br>
			<div class="article3">
				<p>
					<h6 class="yellow-text text-lighten-3">
					ARTICLE 3
				</h6>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit excepturi atque dolorem nostrum aperiam consectetur minima, sequi dolor fugit omnis ad est mollitia facilis, aliquid voluptas harum. Alias, sapiente.
				</p>
			</div>
		</div>

		<div class="col s12 m12 l3" id="my-projects">
			<h5 class="yellow-text">PROJECTS I'VE BUILT</h5><hr>
			<div class="project1">
				<p>
					<h6 class="yellow-text text-lighten-3">
					UGIFTME
					<a class="yellow-text text-lighten-3 right" href="http://ugiftme.herokuapp.com" target="_blank">
						<i class="fa fa-home" aria-hidden="true"></i>
					</a>
					<a class="yellow-text text-lighten-3 right" href="https://github.com/aatiyah/giftme" target="_blank">
						<i class="fa fa-github-alt" aria-hidden="true"></i>
					</a>
				</h6>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit excepturi atque dolorem nostrum aperiam consectetur minima, sequi dolor fugit omnis ad est mollitia facilis, aliquid voluptas harum. Alias, sapiente.
				</p>
			</div>
			<br>
			<div class="project2">
				<p>
					<h6 class="yellow-text text-lighten-3">
					ARTICLE 2
					<a class="yellow-text text-lighten-3 right" href="#" target="_blank">
						<i class="fa fa-home" aria-hidden="true"></i>
					</a>
					<a class="yellow-text text-lighten-3 right" href="#" target="_blank">
						<i class="fa fa-github-alt" aria-hidden="true"></i>
					</a>
				</h6>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit excepturi atque dolorem nostrum aperiam consectetur minima, sequi dolor fugit omnis ad est mollitia facilis, aliquid voluptas harum. Alias, sapiente.
				</p>
			</div>
			<br>
			<div class="project3">
				<p>
					<h6 class="yellow-text text-lighten-3">
					ARTICLE 3
					<a class="yellow-text text-lighten-3 right" href="#" target="_blank">
						<i class="fa fa-home" aria-hidden="true"></i>
					</a>
					<a class="yellow-text text-lighten-3 right" href="#" target="_blank">
						<i class="fa fa-github-alt" aria-hidden="true"></i>
					</a>
				</h6>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit excepturi atque dolorem nostrum aperiam consectetur minima, sequi dolor fugit omnis ad est mollitia facilis, aliquid voluptas harum. Alias, sapiente.
				</p>
			</div>
		</div>
	</div>
</div>