<div class="narrow-margin" id="error-show">
	<h3 class="yellow-text">Ooops!!!</h3>
	<p>The page you are trying to reach is either unavailable or for Admin use only.</p>
	<div class="yellow_btn">
		<%= link_to "Home", root_path, class: "waves-effect yellow btn" %>
	</div>
</div>