<div class="narrow-margin center" id="project-index">
	<div id="my-projects">
		<h5 class="page_title yellow-text">projects I'VE WRITTEN</h5>
		<div class="row" id="project">
			<% @projects.each do |project| %>
					<h5 class="sub-title"><%= link_to project.title, project, class: "title" %></h5>
					<p class="date"><em><%= project.created_at.strftime('%A: %B %d, %Y') %></em></p><hr>
			<% end %>
		</div>
	</div>

	<% if user_signed_in? %>
		<%= link_to 'New Project', new_project_path %>
	<% end %>

	<%= will_paginate @projects, class: "pagination center" %>
</div>