<div class="narrow-margin" id="article-edit">
	<h5 class="yellow-text page_title center">New Project</h5>
	
	<%= render 'form' %>
	
	<div class="center">
		<br>
		<%= link_to 'Back', projects_path, class: "yellow-text text-lighten-3" %>
	</div>
</div>