/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

$nav-bg-color: #424242;
$primary-color-dark: #616161;
$primary-color: #9E9E9E;
$primary-color-light: #F5F5F5;
$primary-color-text: #212121;
$accent-color: #FFEB3B;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
$hover-blue: #039be5;

@mixin yellow-hover {
	color: $accent-color;
}

@mixin left_right_margin($margin_px, $screen_px, $min_max) {
	@media only screen and ($min_max: $screen_px) {
		margin-left: $margin_px;
		margin-right: $margin_px;
	}
}

body {
	font-family: 'Raleway', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: $primary-color-dark;
}

main {
  flex: 1 0 auto;
  margin: 20px;

  a:hover {
  	text-decoration: underline;
  	color: $hover-blue;
  }
}

nav {
	background-color: $nav-bg-color !important;	
	height: 70px;
	text-transform: uppercase;
	font-weight: 300;

	#logo {
		max-height: 30px;
		vertical-align: middle;
		padding-left: 30px;
	}
	
	.right {
		padding-right: 30px;
	}
	
	.side-nav {
		background-color: $accent-color;

		a:hover {
		color: white;
		}
	}
}

.topnav {
	a:hover {
		@include yellow-hover;
	}
}

footer.page-footer {
	background-color: $nav-bg-color !important;
	height: 100px;

	.footer-copyright {
		background-color: $nav-bg-color !important;
	}

	.fa {
		padding: 8px;
	}

	a {
		font-size: large;		
	}
}

.welcome {
	margin: 40px; 

	hr {
		border: 2px solid;
	}
}

#about-me {
	margin-right: 15px;
}

#article, #project {
	p {
		padding-bottom: 20px;
	}

	h6 {
		margin-top: 15px;
		text-transform: uppercase;
	}

	.fa {
		margin-left: 10px;
	}
}

.narrow-margin {
	@include left_right_margin(150px, 850px, min-width);
}

.narrow-margin {
	@include left_right_margin(100px, 850px, max-width);
}

.narrow-margin {
	@include left_right_margin(50px, 600px, max-width);
}

.highlight {
	color: $primary-color-dark;
	font-size: 12px;

	@media only screen and (max-width: 600px) {
		font-size: 11px;
	}
}

.hide {
	display: none;
}

textarea#article_content, textarea#project_description {
	height: 25em;
}

@import "materialize";
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import "pygments";